ritual.alejandrogroup.org {
        encode zstd gzip


        @api path /api* /admin*
        handle @api {
                reverse_proxy api:3001
        }


        # Остальное — на Next.js
        handle {
                reverse_proxy web:3000
        }


        # Безопасные заголовки и HSTS
        header {
                Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
                X-Frame-Options SAMEORIGIN
                X-Content-Type-Options nosniff
                Referrer-Policy no-referrer-when-downgrade
        }


        # Поддержка крупных загрузок (портреты, макеты и т.п.)
        request_body {
                max_size 100MB
        }
}
